In [1]:
import pandas as pd
import re

In [2]:
originalorders = pd.read_csv("originalorders.csv")
originalorders

# import one-column file

                                               MESSAGE
0    jess.iecruz\nJessie Cruz\n9173637147\nQuezon C...
1    juliaprivera\nJulia Rivera\n9268170879\nMakati...
2    _angelinaclarissa\nAnna Perez\n9325557635\nSan...
3    beaursolino\nBea Ursolino\n9058121903\nPasig C...
4    stephmngbng\nSteffie Managbanag\n9969378611\nM...
..                                                 ...
145  chinacampos\nChina Campos\n9154036574\nMakati ...
146  amandajao\nAmanda Jao\n9232410158\nMakati City...
147  erikabalajadia\nErika Balajadia\n9967764218\nS...
148  ellaabes_\nElla Abes\n9177033723\nMandaluyong ...
149  martinasarmiento\nMartina Sarmiento\n915723067...

[150 rows x 1 columns]

In [3]:
entrycount = len(originalorders)
entrycount

150

In [4]:
originalorderslist = originalorders['MESSAGE'].tolist()
originalorderslist[:5]

# transform message column into a list
# just to check output

['jess.iecruz\nJessie Cruz\n9173637147\nQuezon City\n23-Jul-2022\nPick-up\n1- Solo Bouquet (Roses, Mini)\n1- extra leaves',
 'juliaprivera\nJulia Rivera\n9268170879\nMakati City\n23-Jul-2022\nDelivery\n1 - solo bouquet (tulips, mini)\n1 - solo bouquet (sunflowers, mini)',
 '_angelinaclarissa\nAnna Perez\n9325557635\nSan Juan City\n23-Jul-2022\nPick-up\n1- Solo Bouquet (sunflowers, Mini)\n1 extra leaves',
 'beaursolino\nBea Ursolino\n9058121903\nPasig City\n23-Jul-2022\nPick-up\n1 solo bouquet (tulips, mini)\n1 extra leaves',
 'stephmngbng\nSteffie Managbanag\n9969378611\nMandaluyong City\n23-Jul-2022\nPick-up\n1 Solo Bouquet (sunflowers, mini)\n1 Solo Bouquet (roses, large)\n1 Solo Bouquet (roses, mini)\n3 Dedication Letter']

In [5]:
originalorderslist_split = []

for i in originalorderslist:
    k = i.split("\n")
    originalorderslist_split.append(k)
    
originalorderslist_split[:3]

# split message into strings including individual line items
# just to check output

[['jess.iecruz',
  'Jessie Cruz',
  '9173637147',
  'Quezon City',
  '23-Jul-2022',
  'Pick-up',
  '1- Solo Bouquet (Roses, Mini)',
  '1- extra leaves'],
 ['juliaprivera',
  'Julia Rivera',
  '9268170879',
  'Makati City',
  '23-Jul-2022',
  'Delivery',
  '1 - solo bouquet (tulips, mini)',
  '1 - solo bouquet (sunflowers, mini)'],
 ['_angelinaclarissa',
  'Anna Perez',
  '9325557635',
  'San Juan City',
  '23-Jul-2022',
  'Pick-up',
  '1- Solo Bouquet (sunflowers, Mini)',
  '1 extra leaves']]

In [6]:
usernamelist = []
namelist = []
contactlist = []
addresslist = []
datelist = []
shippinglist = []

for i in originalorderslist_split:
    usernamelist.append(i[0])
    namelist.append(i[1])
    contactlist.append(i[2])
    addresslist.append(i[3])
    datelist.append(i[4])
    shippinglist.append(i[5])
    
# creation of lists that will be added as columns to the final dataframe

In [7]:
usernamelinklist = []

for i in usernamelist:
    link = "https://www.instagram.com/" + i
    usernamelinklist.append(link)
    
usernamelinklist[:3]

# creation of list that will be added as a column to the final dataframe
# so the business owner can easily access the customer's profile and send them a message
# just to check output

['https://www.instagram.com/jess.iecruz',
 'https://www.instagram.com/juliaprivera',
 'https://www.instagram.com/_angelinaclarissa']

In [8]:
orderlist = []

for i in originalorderslist_split:
    orderlist.append(i[6:])

orderlistitems = []

for i in orderlist:
    orderlistitems.append(len(i))
    
print(orderlist[:3])
print(orderlistitems[:3])

# no data cleaning yet
# creation of list that will be added as a column to the final dataframe
# to count the number of line items per order  
# just to check output

[['1- Solo Bouquet (Roses, Mini)', '1- extra leaves'], ['1 - solo bouquet (tulips, mini)', '1 - solo bouquet (sunflowers, mini)'], ['1- Solo Bouquet (sunflowers, Mini)', '1 extra leaves']]
[2, 2, 2]

In [9]:
orderlist_not_unique = []

for i in orderlist:
    i_length = len(i)
    for j in range(i_length):
        k = (i[j]).title()
        k = re.sub("Order: ","",k)
        k = re.sub("Letters","Letter",k)
        k = re.sub("Solo \(","Solo Bouquet (",k)
        k = re.sub("r,","rs,",k)
        k = re.sub("\s*-"," ",k)
        k = re.sub("\s\s*"," ",k)
        k = re.sub("\)\s",")",k)
        
# python functions and regex to clean data
# quantities are not removed yet
        
        orderlist_not_unique.append(k)
        i[j] = k
        
# i[j] = k is for cleaning the original string
        
orderlist_unique = list(set(orderlist_not_unique))
    
# creating a list of unique values including quantities
    
orderlist_unique_nonumbers = []

for i in orderlist_unique:
    if i == "":
        continue
    else:
        first_space_index = i.find(" ")
        orderlist_unique_nonumbers.append(i[(first_space_index + 1):])
        
# quantities are removed at this stage
    
orderlist_unique_nonumbers = list(set(orderlist_unique_nonumbers))

for i in orderlist_unique_nonumbers:
    print(i)

print()
print(len(orderlist_unique_nonumbers))   

# data cleaning
# to see the unique values
# to check if the number of unique values = the number of SKUs (13)

Solo Bouquet (Sunflowers, Mini)
Solo Bouquet (Sunflowers, Large)
Extra Wrapping
Dedication Letter
Extra Leaves
Solo Bouquet (Roses, Mini)
Solo Bouquet (Tulips, Large)
Solo Bouquet (Roses, Large)
Solo Bouquet (Lavenders, Large)
Solo Bouquet (Tulips, Mini)
Solo Bouquet (Daisies, Mini)
Solo Bouquet (Lavenders, Mini)
Solo Bouquet (Daisies, Large)

13

In [10]:
sm_list = []
sl_list = []
rm_list = []
rl_list = []
dm_list = []
dl_list = []
lm_list = []
ll_list = []
tm_list = []
tl_list = []
ew_list = []
el_list = []
dd_list = []

# intermediary list that will not be added as a column to the final dataframe
# but will be helpful in computing the total quantities and price per order

In [11]:
for i in orderlist:
    i_length = len(i)
    for j in range(i_length):
        if "Solo Bouquet (Sunflowers, Mini)" in i[j]:
            sm_list.append(int(i[j][:i[j].find(" ")]))
        else:
            sm_list.append(0)
        if "Solo Bouquet (Sunflowers, Large)" in i[j]:
            sl_list.append(int(i[j][:i[j].find(" ")]))
        else:
            sl_list.append(0)
        if "Solo Bouquet (Roses, Mini)" in i[j]:
            rm_list.append(int(i[j][:i[j].find(" ")]))
        else:
            rm_list.append(0)
        if "Solo Bouquet (Roses, Large)" in i[j]:
            rl_list.append(int(i[j][:i[j].find(" ")]))
        else:
            rl_list.append(0)
        if "Solo Bouquet (Daisies, Mini)" in i[j]:
            dm_list.append(int(i[j][:i[j].find(" ")]))
        else:
            dm_list.append(0)
        if "Solo Bouquet (Daisies, Large)" in i[j]:
            dl_list.append(int(i[j][:i[j].find(" ")]))
        else:
            dl_list.append(0)
        if "Solo Bouquet (Lavenders, Mini)" in i[j]:
            lm_list.append(int(i[j][:i[j].find(" ")]))
        else:
            lm_list.append(0)
        if "Solo Bouquet (Lavenders, Large)" in i[j]:
            ll_list.append(int(i[j][:i[j].find(" ")]))
        else:
            ll_list.append(0)
        if "Solo Bouquet (Tulips, Mini)" in i[j]:
            tm_list.append(int(i[j][:i[j].find(" ")]))
        else:
            tm_list.append(0)
        if "Solo Bouquet (Tulips, Large)" in i[j]:
            tl_list.append(int(i[j][:i[j].find(" ")]))
        else:
            tl_list.append(0)
        if "Extra Wrapping" in i[j]:
            ew_list.append(int(i[j][:i[j].find(" ")]))
        else:
            ew_list.append(0)
        if "Extra Leaves" in i[j]:
            el_list.append(int(i[j][:i[j].find(" ")]))
        else:
            el_list.append(0)
        if "Dedication Letter" in i[j]:
            dd_list.append(int(i[j][:i[j].find(" ")]))
        else:
            dd_list.append(0)

# to count quantities by line item

In [12]:
sm_list_final = []
sl_list_final = []
rm_list_final = []
rl_list_final = []
dm_list_final = []
dl_list_final = []
lm_list_final = []
ll_list_final = []
tm_list_final = []
tl_list_final = []
ew_list_final = []
el_list_final = []
dd_list_final = []
    
# goal is for these lists to have the same length as orderlist (which is equal to entrycount)  
# creation of lists that will be added as columns to the final dataframe

In [13]:
orderlistpairs = []

start = 0
for i in orderlistitems:
    orderlistpairs.append([start,start+i])
    start += i
    
orderlistpairs[:5]

# to get the start and end indices of each order (i.e. first order refers to the first two rows/line items of sm_list)

[[0, 2], [2, 4], [4, 6], [6, 8], [8, 12]]

In [14]:
def sumrange(listbylineitem, x, y, listbyorder):                                                                                                                                                                                                
    sum = 0                                                                                                                                                                                                         
    for i in range(x, y, 1):                                                                                                                                                                                        
        sum += listbylineitem[i]                                                                                                                                                                                                  
    listbyorder.append(sum)
    
for i in range(entrycount):
    sumrange(sm_list, orderlistpairs[i][0], orderlistpairs[i][1], sm_list_final)
    sumrange(sl_list, orderlistpairs[i][0], orderlistpairs[i][1], sl_list_final)
    sumrange(rm_list, orderlistpairs[i][0], orderlistpairs[i][1], rm_list_final)
    sumrange(rl_list, orderlistpairs[i][0], orderlistpairs[i][1], rl_list_final)
    sumrange(dm_list, orderlistpairs[i][0], orderlistpairs[i][1], dm_list_final)
    sumrange(dl_list, orderlistpairs[i][0], orderlistpairs[i][1], dl_list_final)
    sumrange(lm_list, orderlistpairs[i][0], orderlistpairs[i][1], lm_list_final)
    sumrange(ll_list, orderlistpairs[i][0], orderlistpairs[i][1], ll_list_final)
    sumrange(tm_list, orderlistpairs[i][0], orderlistpairs[i][1], tm_list_final)
    sumrange(tl_list, orderlistpairs[i][0], orderlistpairs[i][1], tl_list_final)
    sumrange(ew_list, orderlistpairs[i][0], orderlistpairs[i][1], ew_list_final)
    sumrange(el_list, orderlistpairs[i][0], orderlistpairs[i][1], el_list_final)
    sumrange(dd_list, orderlistpairs[i][0], orderlistpairs[i][1], dd_list_final)
    
# adding the total quantity of each SKU per order to each individual SKU list
# ex. for the first order, the values that will be appended to the 13 lists are: 0,0,1,0,0,0,0,0,0,0,0,1,0
# these values will be the first row of the dataframe but also the first value in each list

In [15]:
prices = {"SM":550,"SL":950,"RM":500,"RL":800,"DM":500,"DL":800,"LM":500,"LL":800,"TM":530,"TL":750,"EW":50,"EL"\
         :80,"DD":30}

# dictionary to calculate the total order price

In [16]:
totallist = []

for i in range(entrycount):
    total = (sm_list_final[i]*prices["SM"]) + (sl_list_final[i]*prices["SL"]) + (rm_list_final[i]*prices["RM"])\
    + rl_list_final[i]*prices["RL"] + (dm_list_final[i]*prices["DM"]) + (dl_list_final[i]*prices["DL"])\
    + lm_list_final[i]*prices["LM"] + (ll_list_final[i]*prices["LL"]) + (tm_list_final[i]*prices["TM"])\
    + tl_list_final[i]*prices["TL"] + (ew_list_final[i]*prices["EW"]) + (el_list_final[i]*prices["EL"])\
    + dd_list_final[i]*prices["DD"]
    totallist.append(total)

# sum product but python version
# creation of list that will be added as a column to the final dataframe

In [17]:
for i in range(len(orderlist)):
    orderlist[i] = "\n".join(orderlist[i])
    
# prepare for final dataframe; return orders to original format as a singular string separated by newlines

In [18]:
finalorders = pd.DataFrame({"username":usernamelist,"username link":usernamelinklist,"name":namelist,"contact":\
                            contactlist,"address":addresslist,"date":datelist,"shipping":shippinglist,\
                           "orders":orderlist,\
                            "SM":sm_list_final,"SL":sl_list_final,"RM":rm_list_final,"RL":rl_list_final,\
                            "DM":dm_list_final,"DL":dl_list_final,"LM":lm_list_final,"LL":ll_list_final,\
                            "TM":tm_list_final,"TL":tl_list_final,\
                            "EW":ew_list_final,"EL":el_list_final,"DD":dd_list_final,\
                            "total":totallist, "IF PROCESSED": ''})

# create dictionary of column names and lists to be converted to the final dataframe

finalorders.head()

# inspect first five rows of the data with the head method

,username,username link,name,contact,address,date,shipping,orders,SM,SL,...,DL,LM,LL,TM,TL,EW,EL,DD,total,IF PROCESSED
0,jess.iecruz,https://www.instagram.com/jess.iecruz,Jessie Cruz,9173637147,Quezon City,23-Jul-2022,Pick-up,"1 Solo Bouquet (Roses, Mini)\n1 Extra Leaves",0,0,...,0,0,0,0,0,0,1,0,580,
1,juliaprivera,https://www.instagram.com/juliaprivera,Julia Rivera,9268170879,Makati City,23-Jul-2022,Delivery,"1 Solo Bouquet (Tulips, Mini)\n1 Solo Bouquet ...",1,0,...,0,0,0,1,0,0,0,0,1080,
2,_angelinaclarissa,https://www.instagram.com/_angelinaclarissa,Anna Perez,9325557635,San Juan City,23-Jul-2022,Pick-up,"1 Solo Bouquet (Sunflowers, Mini)\n1 Extra Leaves",1,0,...,0,0,0,0,0,0,1,0,630,
3,beaursolino,https://www.instagram.com/beaursolino,Bea Ursolino,9058121903,Pasig City,23-Jul-2022,Pick-up,"1 Solo Bouquet (Tulips, Mini)\n1 Extra Leaves",0,0,...,0,0,0,1,0,0,1,0,610,
4,stephmngbng,https://www.instagram.com/stephmngbng,Steffie Managbanag,9969378611,Mandaluyong City,23-Jul-2022,Pick-up,"1 Solo Bouquet (Sunflowers, Mini)\n1 Solo Bouq...",1,0,...,0,0,0,0,0,0,0,3,1940,

In [19]:
finalorders.to_csv("MONTH YEAR - DATA FOR CROCHET SHOP - FlowerOrders.csv")

# export dataframe as csv file
# syntax for reference: [nameofdataframe].to_csv("[filename]")

In [20]:
messagelist = []

for i in range(len(namelist)):
    message = "Hey there "+str(namelist[i])+"! " + "Your order comes to a total of "+str(totallist[i])+" pesos. "+"It will be ready for "+str(shippinglist[i])+" on "+str(datelist[i])+"."
    messagelist.append(message)
     
messagelist[:3]

# creation of list that will be added as a column to the final dataframe
# so the business owner can easily copy the customer's personalized message and send it to them
# just to check output

['Hey there Jessie Cruz! Your order comes to a total of 580 pesos. It will be ready for Pick-up on 23-Jul-2022.',
 'Hey there Julia Rivera! Your order comes to a total of 1080 pesos. It will be ready for Delivery on 23-Jul-2022.',
 'Hey there Anna Perez! Your order comes to a total of 630 pesos. It will be ready for Pick-up on 23-Jul-2022.']

In [21]:
finalmessages = pd.DataFrame({"username":usernamelist,"username link":usernamelinklist,"name":namelist,\
                            "message":messagelist})

# create dictionary of column names and lists to be converted to the final dataframe

finalmessages.head()

# inspect first five rows of the data with the head method

,username,username link,name,message
0,jess.iecruz,https://www.instagram.com/jess.iecruz,Jessie Cruz,Hey there Jessie Cruz! Your order comes to a t...
1,juliaprivera,https://www.instagram.com/juliaprivera,Julia Rivera,Hey there Julia Rivera! Your order comes to a ...
2,_angelinaclarissa,https://www.instagram.com/_angelinaclarissa,Anna Perez,Hey there Anna Perez! Your order comes to a to...
3,beaursolino,https://www.instagram.com/beaursolino,Bea Ursolino,Hey there Bea Ursolino! Your order comes to a ...
4,stephmngbng,https://www.instagram.com/stephmngbng,Steffie Managbanag,Hey there Steffie Managbanag! Your order comes...

In [22]:
finalmessages.to_csv("MONTH YEAR - MESSAGES FOR CROCHET SHOP - FlowerOrders.csv")

# export dataframe as csv file
# syntax for reference: [nameofdataframe].to_csv("[filename]")